:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--light-letters);
    background-color: var(--OBR-dark-blue-trans);
    backdrop-filter: blur(10px);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --light-letters: white;
    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-trans: rgba(34, 38, 57, 0.65);
    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-Purple-Select: rgb(187, 153, 255, 0.5);
    --OBR-Purple-Highlight: rgb(175, 181, 255);
    --OBR-Purple-Select-transparent: rgb(187, 153, 255, 0.5);

    --dark-name-input: #6b6b6b;
    --light-letters: white;
    --headline-red: #A73335;
    --invert: none;
    --pink-x: rgb(255, 128, 170);
    --tooltip-background: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --OBR-offset-fore: rgb(65, 65, 65);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(183, 184, 189);
        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-dark-blue-trans: rgba(255, 255, 255, 0.63);
        --OBR-Purple-Select: rgb(153, 102, 255, 0.5);
        --OBR-Purple-Highlight: rgb(60, 62, 94);

        --dark-name-input: #e9e9e9;
        --light-letters: rgb(54, 54, 54);
        --headline-red: #8a8a8a;
        --pink-x: rgb(255, 128, 170);
        --invert: invert(1);
        --invert-click: none;
        --tooltip-background: rgb(161, 161, 161);
    }
}

#clashEffects {
    width: 100%;
    height: 100%;
}

#effectButtonContainer {
    display: flex;
}

table {
    height: 100%;
    width: 100%;
}

table th {
    cursor: default;
}

#clash-whatsnew {
    background-color: var(--OBR-dark-blue-trans);
    backdrop-filter: blur(10px);
    text-size-adjust: none;
    margin: 0;
    padding: 15px;
    display: flex;
    height: 90%;
    flex-direction: column;
    overflow-x: hidden;
    margin-bottom: 20px;
}

button {
    color: var(--OBR-font);
    background-color: var(--OBR-dark-blue-transparent);
    border-radius: 4px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

button:hover:not([disabled] ) {
    background-color: var(--OBR-Purple-Select-transparent);
}

input {
    color: var(--OBR-font);
    background-color: var(--OBR-dark-blue-transparent);
    border-radius: 4px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

input[disabled] 
{
    font-style: italic;
    border-color: black !important;
}

/* Footer */
footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30;
    width: calc(100% - 10px);
    padding-left: 4px;
    margin-bottom: 10px;
}

.footer-button {
    width: 100%;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--OBR-dark-blue-trans);
}

.footer-button:hover {
    background-color: var(--OBR-Purple-Select-transparent);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    /* Optionally, you can adjust styles to ensure consistency */
    -moz-appearance: textfield;
    appearance: textfield;
}