:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--light-letters);
    background-color: var(--dark-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --dark-background: #242424;
    --dark-name-input: #6b6b6b;
    --light-letters: white;
    --invert: none;
    --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
    --slider-color: #ccc;
    --monster-red: darkred;
    --turn-highlight: rgb(87, 5, 5);
}

@media (prefers-color-scheme: light)
{
    :root{
        --dark-background: #f3f3fc;
        --dark-name-input: #e9e9e9;
        --light-letters: black;
        --invert: invert(1);
        --invert-click: none;
        --slider-color: #4b4b4b;
        --monster-red: rgb(214, 161, 161);
        --turn-highlight: rgb(240, 115, 115);
    }
}

.unitHappy {
    color: white;
}

.unitHurt {
    color: yellow;
}

.unitHarmed {
    color: red;
}

.RollerButton {
    background-color: darkred;
    border-width: 1px;
    border-style: ridge;
    border-radius: 5px;
}
.noDatabase{
    text-align: center;
    color: var(--light-letters);
    font-size: small;
    font-style: italic;
}
.boldMiddle {
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 20px;
}

thead,
tbody {
    display: block;
}

#unit-list::-webkit-scrollbar {
    display: none;
}

table,
thead,
tbody,
tr {
    width: 100%;
}

tr {
    display: flex;
}

tbody {
    height: 515px;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    min-width: 390px;
    padding: 5px;
    display: flex;
    height: 95%;
    flex-direction: column;
}

body::-webkit-scrollbar {
    display: none;
}

footer {
    background: linear-gradient(180deg, #A73335, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    position: fixed;
    left: 0;
    bottom: 0;
    height: 48px;
    width: 100%;
}
h1 {
    text-align: center;
}
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.8rem;
}

.bombBottom {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
}

#initiative-list td {
    overflow: hidden;
    text-align: center;
}

.turnOutline {
    outline: thin;
    outline-style: inset;
    outline-offset: -1px;
    background-color: var(--turn-highlight);
}

.isMonster {
    background-color: var(--monster-red) !important;
    border-width: 0px;
    border-radius: 5px;
}

.chalkBorder {
    border-color: #ffffff;
    border-radius: 5px;
    background-color: var(--dark-name-input);
    color: var(--light-letters);
    font-size: .85em;
}
.textInput,
.nameToggleInput
{
    background-color: var(--dark-name-input);
    color: var(--light-letters);
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}

.ArmorInput,
.InitiativeInput,
.HealthInput {
    font-size: .90em;
    background-color: var(--dark-background);
    color: var(--light-letters);
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}
.clickable:not(.RollerButton) {
    filter: var(--invert);
}
.clickable:active {
    filter: var(--invert-click);
    transform: scale(1.5);
}

.turnIndicator {
    width: 100px;
}

.tinyType {
    background-color: var(--dark-background);
    color: var(--light-letters);
    font-size: 10px;
    margin-right: 15px;
}


.HealthInput {
    width: 30px;
}

.ArmorInput {
    width: 20px;
}

.InitiativeInput {
    width: 15px;
}

.Icon:not(.RollerButton) {
    vertical-align: text-bottom;
    height: 20px;
    width: 20px;
    filter: var(--invert);
}

.centerish {
    position: fixed;
    left: 42%;
    font-weight: bold;
}

.playerCenterish {
    margin-left: 110px;
    font-weight: bold;
    font-size: larger;
}

.playerBottom {
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    width: 100%;
    height: 2.4rem;
}

#returnButton {
    position: fixed;
    left: 35%;
    margin-top: 10px;
}
#clash-main-body-settings{
    height: calc(100% - 40px);
}
#settingsContainer {
    margin: 0;
    padding: 5px;
    height: 100%;
    display: block;
    padding-left: 10%;
    font-size: 16px;
    overflow-y: scroll;
}
#settingsContainer::-webkit-scrollbar {
    display: none;
}

#prevContainer {
    padding-left: 15px;
    ;
}

.floatright,
#nextContainer {
    float: right;
    padding-right: 15px;
}

#unitinfo {
    max-width: 400px;
    padding: .5rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}
.resize_fit_center {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    opacity: 0.75;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}